

<div class="row">

  <div class="col-xs-12">
  <p class="pull-left visible-xs" ng-click="$parent.active=!$parent.active">
            <button type="button" class="btn btn-primary btn-xs" ng-class="{active: $parent.active}" data-toggle="offcanvas">Toggle nav</button>
        </p>

    <div class="list-group">
      <p class="text-center">catID: {{search.category }}</p>
      <a class="list-group-item" ng-repeat="post in posts | orderByPriority | filter: search" ui-sref="postview.post({userid: userid, id:post.$id})" title="">
        <h4 class="list-group-item-heading">{{post.title}}</h4>
        <p class="list-group-item-text">{{post.summary}}</p>
      </a>

    </div>
  </div>
</div>
