

<div class="row">

  <div class="col-xs-12">
  <p class="pull-left visible-xs" ng-click="$parent.active=!$parent.active" >
            <button type="button" class="btn btn-primary btn-xs" ng-class="{active: $parent.active}" data-toggle="offcanvas">Toggle nav</button>
        </p>
        <span class="clearfix"></span>
    <div class="list-group">

      <a class="list-group-item" ng-class="" ng-repeat="post in posts | orderByPriority" ui-sref="postview.post({userid: userid,id:post.$id})" title=""><h4 class="list-group-item-heading">{{post.title}}</h4> <p class="list-group-item-text">{{post.summary}}</p></a>

    </div>
  </div>
</div>
