<!-- <div class="container-fluid fullheight"> -->
  <!-- <div class="row row-offcanvas row-offcanvas-left fullheight" ng-class="{active: active}"> -->
    <div id="sidebar" class="col-xs-6 col-sm-3 sidebar-offcanvas dashsidebar" ng-class="{active: active}">
      <h5>{{userid}}</h5>
      <h4><a ui-sref="postview.postlisting({userid: userid})" title="">Posts</a></h4>
      <ul>
        <li ng-repeat="post in posts | orderByPriority"><a ui-sref="postview.post({userid: userid,id:post.$id})">{{post.title}}</a>
        </li>
      </ul>
      <h4>Categories</h4>
      <ul>
        <li ng-repeat="cat in cats | orderByPriority"><a ui-sref="postview.category({cat:cat.catname})">{{cat.catname}}</a></li>
      </ul>
      <div class="col-xs-9">

      </div>
      <!-- /.col-xs-9-->
    </div>
    <div class="col-xs-12 col-sm-9 postsmaincontent" ui-view="content" ng-class="{active: active}"></div>
  <!-- </div> -->
<!-- </div> -->
