
<div class="row">

  <div class="col-xs-12">
  <p class="pull-left visible-xs" ng-click="$parent.active=!$parent.active" >
            <button type="button" class="btn btn-primary btn-xs" ng-class="{active: $parent.active}" data-toggle="offcanvas">Toggle nav</button>
        </p>
        <span class="clearfix"></span>
    <h3 >{{post.title}}</h3>
    <h5 >{{post.category}}</h5>
    <div ta-bind ng-model="post.content" class="postcontent"></div>
  </div>
</div>
