html,
body {
 
  overflow-x: hidden; /* Prevent scroll on narrow devices */

}
@linkcolor: #d2d2d2;
.dashboard {

    background-color:#ccc;
}

.test {
    color:#000;
}
.fullheight{
    // height:100%;
} 
.dashsidebar{
    margin-left: -15px;
    height:100%;
    padding-bottom: 50px;
    padding-top:100px;
	background-color: rgba(51,51,51,0.4);
	// position: fixed !important;
 //    top: 51px;
 //    bottom: 0;
 //    left: 0;
 //    z-index: 1000;
 //    display: block;
 //    padding: 20px;
 //    overflow-x: hidden;
 //    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
 //    border-right: 1px solid #eee;
 
    color: @linkcolor;

    a{
    	color: @linkcolor;
        
        letter-spacing: 1px;
        &:hover{
            color: darken(@linkcolor, 10%);
            text-decoration: none;
        }
    }
    ul{
    	padding-left: 15px;
    	li{
            a{font-weight: 100;}
            // font-weight: 100;
            letter-spacing: 1px;
	    	list-style-type: none;
            padding: 5px 8px;
            &:hover{
                background-color: lighten(#000, 30%);
            }
	    }
    }
	.catremove{
		font-weight: 100;
		cursor: pointer;
		&:hover{color:red;}
	}
}
 .btn-primary.active {
    &:before{
        content: "< ";
    }
}
.list-group{
    margin-top: 15px;
    
    .list-group-item{
        background-color: rgba(51,51,51,0.4);
        border: none;
        &:hover{
            background-color: rgba(51,51,51,0.9);
        }
        .list-group-item-heading,.list-group-item-text{
            color: @linkcolor;
        }
        .list-group-item-text{
            font-weight:200;
            letter-spacing: 1px; 
        }

    }
}
.dashmaincontent{
	padding: 20px;
    // margin-top: 50px;
    // margin-top: 50px;
    margin-bottom: 50px;

	#newpost{
		margin-top: 30px;
	}
    form{
        border-radius: 5px;
        background-color: rgba(51,51,51,0.4);
        padding: 8px;
        h5,label{
            color: @linkcolor;
        }
    }
	.form-group{
		.btn{
			margin-right: 10px;
		}
	}
}
/*
 * Growl
 * --------------------------------------------------
 */
.growl{
  top:60px;
  right:10px;
  position:fixed;
  z-index: 10;
  width: 30%;
}

.growl-item.ng-enter,
.growl-item.ng-leave {
    -webkit-transition:0.5s linear all;
    -moz-transition:0.5s linear all;
    -o-transition:0.5s linear all;
    transition:0.5s linear all;
}

.growl-item.ng-enter,
.growl-item.ng-leave.ng-leave-active {
    opacity:0;
}
.growl-item.ng-leave,
.growl-item.ng-enter.ng-enter-active {
    opacity:1;

}

.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    resize:vertical;
    font-family: inherit;
    font-size: 100%;
    margin:20px 0;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas, .dashsidebar, .dashmaincontent,.postsmaincontent{
    position: relative;
    // left:0;
    -webkit-transition: -webkit-transform .25s ease-out;
         -o-transition: -o-transform .25s ease-out;
            transition: transform .25s ease-out;
  }
  .dashmaincontent.ng-enter,
    .dashmaincontent.ng-leave,
    .postsmaincontent.ng-enter,
    .postsmaincontent.ng-leave {
      --webkit-transition: none;
      transition: none;
    } 
  .row-offcanvas-right {
    // right: 0;
  }

  .row-offcanvas-left {
    // left: 0;

  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    // right: -50%; /* 6 columns */
       -webkit-transform:translate3d(100%, 0, 0);
   -moz-transform:translate3d(100%, 0, 0);
    -ms-transform:translate3d(100%, 0, 0);
     -o-transform:translate3d(100%, 0, 0);
        transform:translate3d(100%, 0, 0);
  }

  .row-offcanvas-left
  .sidebar-offcanvas, .dashsidebar {
   // left: -50%;  //6 columns 
   // left:0;
   -webkit-transform:translate3d(-100%, 0, 0);
   -moz-transform:translate3d(-100%, 0, 0);
    -ms-transform:translate3d(-100%, 0, 0);
     -o-transform:translate3d(-100%, 0, 0);
        transform:translate3d(-100%, 0, 0);
  }
  .dashmaincontent, .postsmaincontent{
   -webkit-transform:translate3d(-25%, 0, 0);
   -moz-transform:translate3d(-25%, 0, 0);
    -ms-transform:translate3d(-25%, 0, 0);
     -o-transform:translate3d(-25%, 0, 0);
        transform:translate3d(-25%, 0, 0);
  }

  .row-offcanvas-right.active {
    // right: 50%; /* 6 columns */
   -webkit-transform:translate3d(-50%, 0, 0);
   -moz-transform:translate3d(-50%, 0, 0);
    -ms-transform:translate3d(-50%, 0, 0);
     -o-transform:translate3d(-50%, 0, 0);
        transform:translate3d(-50%, 0, 0);
  }

  .row-offcanvas-left.active,  .dashmaincontent.active, .postsmaincontent.active {
    // left: 50% !important; /* 6 columns */
    // left:0;

       -webkit-transform:translate3d(25%, 0, 0);
   -moz-transform:translate3d(25%, 0, 0);
    -ms-transform:translate3d(25%, 0, 0);
     -o-transform:translate3d(25%, 0, 0);
        transform:translate3d(25%, 0, 0);
  }
  .dashsidebar.active{
       -webkit-transform:translate3d(0%, 0, 0);
   -moz-transform:translate3d(0%, 0, 0);
    -ms-transform:translate3d(0%, 0, 0);
     -o-transform:translate3d(0%, 0, 0);
        transform:translate3d(0%, 0, 0);
  }
  .sidebar-offcanvas {
    position: absolute !important; 
    // left:0;
    top: 0;
    width: 25%; /* 6 columns */

  }
}
