
	<!-- <div class="row row-offcanvas row-offcanvas-left" ng-class="{active: active}"> -->
		<div id="sidebar" class="col-sm-3 col-xs-6 dashsidebar sidebar-offcanvas" ng-class="{active: active}">

			<h4>Dashboard</h4>
			<h4><a href="#/dashboard/postlisting" title="">Posts</a></h4>
			<ul>
				<li ng-repeat="post in posts | orderByPriority"><a ui-route="#/dashboard/edit/{{post.$id}}" ng-class=""  ng-href="#/dashboard/edit/{{post.$id}}" title="">{{post.title}}</a></li>
			</ul>
			<h4>Categories</h4>
			<ul>
				<li ng-repeat="cat in cats | orderByPriority">{{cat.catname}} <span ng-click="delCat(cat.$id)" class="catremove">x</span></li>
			</ul>
			<div class="col-xs-9">
			<form ng-submit="addCat()">


			    <div class="input-group">
			      <input type="text" class="form-control input-sm" ng-model="newcat" placeholder="New Category">
			      <span class="input-group-btn">
			        <button class="btn btn-default btn-sm btn-success" type="button" ng-click="addCat()" >+</button>
			      </span>
			    </div><!-- /input-group -->
			    </form>
			  </div><!-- /.col-xs-9-->
		</div>

		<div  class="col-xs-12 col-sm-9  dashmaincontent"  ui-view="content" ng-class="{active: active}"> <!-- col-sm-offset-3 -->

			BULLSHIT AREA
		</div>
		<div growl></div>
	<!-- </div> -->

