		<p class="pull-left visible-xs" ng-click="$parent.active=!$parent.active" >
            <button type="button" class="btn btn-primary btn-xs" ng-class="{active: $parent.active}" data-toggle="offcanvas">Toggle nav</button>
        </p>
<button class="btn btn-danger btn-xs pull-right" ng-click="delPost()" ng-show="!!(postId)">Delete Post</button>

<form id="newpost" class="form-horizontal" role="form">
<div class="row">
	<div class="col-xs-12 ">
		<input class="form-control" id="posttitle" name="posttitle" placeholder="Post Title" type="text" ng-model="post.title" required autofocus />
	</div>
</div>
<br>
<div text-angular ng-model="post.content" id="postcontent" name="postcontent" ></div>
<!-- <textarea class="form-control" id="postcontent" name="postcontent" placeholder="Content" rows="5" ng-model="post.content" required></textarea> -->

<h5>Summary</h5>
<textarea name="summary" ng-model="post.summary" class="form-control"></textarea>
<br>
<div class="row">
	<div class="col-xs-12">
		<div class="form-group">
			<label for="catselect" class="col-xs-3 col-sm-2 control-label">
				Category
			</label>
			<div class="col-xs-9 col-sm-4">
				<select class="form-control" ng-options="obj.id as obj.catname for (key,obj) in cats" ng-model="post.category" ></select>
			</div>

			<div class="col-xs-12 col-sm-6">
			<br class="visible-xs">

				<button class="btn btn-primary pull-right" ng-click="savePost()">Save</button>
				<a class="btn btn-warning pull-right" href="#/dashboard/postlisting">Cancel</a>
			</div>
		</div>
	</div>

</div>

</form>
