
<div class="row">

	<div class="col-xs-12">
		<p class="pull-left visible-xs" ng-click="$parent.active=!$parent.active" >
            <button type="button" class="btn btn-primary btn-xs" ng-class="{active: $parent.active}" data-toggle="offcanvas">Toggle nav</button>
        </p>
		<a href="#/dashboard/newpost" title="New Post" class="btn btn-xs btn-primary pull-right">New Post</a>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="list-group">

			<a class="list-group-item" ui-route="#/dashboard/edit/{{post.$id}}" ng-class="" ng-repeat="post in posts | orderByPriority" ng-href="#/dashboard/edit/{{post.$id}}" title=""><h4 class="list-group-item-heading">{{post.title}}</h4> <p ta-bind class="list-group-item-text" ng-model="post.summary"></p></a>

		</div>
	</div>
</div>


		  
