@import url(http://fonts.googleapis.com/css?family=Comfortaa);
.signup{
  padding-top: 150px;
  padding-bottom: 90px;
  background: url("img/tonkatsu.jpg");
   -webkit-background-size: cover;
}
.logintitle{
  
  font-size: 3em;
  font-weight: 400;
  background-color: rgba(43, 43, 43, 0.5);
  padding: 1em;
  h2{font-family: 'Comfortaa', cursive;  color:white;}
  
  border-radius: 10px;
}
.jumbotron {
  margin: 40px 0 80px 0;
  text-align: center;

  h1 {
    margin-bottom: 20px;
    font-size: 55px;
    line-height: 1;
  }

  .lead {
    font-size: 24px;
    line-height: 1.25;
  }

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

.marketing {
  .row {
    margin-bottom: 10px;
  }

  .row:last-child {
    margin-bottom: 0;
  }
  
  h4 [class*=" icon-"], h4 [class^="icon-"] {
    margin-right: 5px;
    vertical-align: -10%;
    font-size: 28px;
    line-height: 1;
  }
}

