
.postsmaincontent{
  	padding: 20px;
    // margin-top: 25px;
 
    margin-bottom: 50px;

}

.postcontent{
	img{
		max-width: 100%;
		height: auto;
	}
	background-color: rgba(255, 255, 255, 0.9);
	padding: 15px 10px;
	border-radius: 5px;
}