<!DOCTYPE html>
<html ng-app="mycms" ng-controller="AppCtrl">
    <head>
        <title>{{stuff.pageTitle}}</title>
        <!-- social media tags -->
        <meta property="og:title" content="CMS" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="www.matthewcyang.com" />
        <meta property="og:image" content="" />
        <meta property="og:description" content="" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
        <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

        <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
        <script type="text/javascript" src="<%= file %>"></script><% }); %>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js" type="text/javascript"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.string/2.3.3/underscore.string.min.js" type="text/javascript">
        </script>
        
    </head>
    <body>
        <div id="wrapper">
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"  ng-click="isCollapsed = !isCollapsed">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <span class="navbar-brand"><span ng-show="stuff.loggedin()">{{stuff.uname}}</span> <span ng-hide="stuff.loggedin()">MyCMS</span></span>
                    </div>

                    <div class="collapse navbar-collapse" collapse="!isCollapsed" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li ng-class="{active: $state.includes('dashboard') }"><a ui-sref="dashboard.postlisting">Dashboard</a></li>
                            <li><a>[Public Accessible ></a></li>
                            <li ng-class="{active: $state.params.userid == 4804757}"><a ui-sref="postview.postlisting({userid: 4804757})">Test User 1</a></li>
                            <li ng-class="{active: $state.params.userid == 100007865769371}"><a ui-sref="postview.postlisting({userid: 100007865769371})">Test User 2</a></li>

                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li ><a href="#" ng-show="stuff.loggedin()" ng-click="stuff.logOut()">Logout</a></li>

                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </nav>

            <div ui-view="main" id="content" class="maincontent container-fluid "></div>
            <div class="push"></div>
        </div>
        <div class="footer" id="footer">
            <div class="container-fluid">
                <p class="text-muted credit">Copyright 2014 matthewcyang.com</p>
            </div>
        </div>
    </body>
</html>
